node_modules/
dist/
build/
.next/
.env
.env.local
.env.production
.env.docker
!.env.example
!.env.production.example
*.log
.DS_Store
coverage/
.turbo/
*.tsbuildinfo
apps/api/prisma/migrations/**/migration_lock.toml

# React Native / Flutter (future apps)
.expo/
.dart_tool/
build/
*.jks
*.p8
*.p12
*.mobileprovision

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
